body {
  --h1-size: 1.75em;
  --h1-weight: 700;
  --h2-size: 1.5em;
  --h3-size: 1.25em;

  --text-on-accent: white !important;

  --bold-modifier: 300;
  --italic-color: var(--color-red);

  --link-color: rgb(32, 94, 166);
  --link-color-hover: rgb(67, 133, 190);
  --link-unresolved-color: black;
  --link-unresolved-decoration-color: inherit;
}

.markdown-source-view {
  --p-spacing: 0;
}
.markdown-reading-view {
  --p-spacing: 1em;
}

[data-path^='_'],
[data-path*='/_'] {
  opacity: 0.5;
}

.callout[data-callout='quote'] {
  --callout-title-color: black;
  --callout-title-weight: 400;
  background-color: rgb(250, 238, 198);
}
